rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /urnaState/chapas {
      allow read, write: if true;
    }

    match /urnaState/votacao {
      allow read, write: if true;
    }

    match /urnaState/current {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
